<div class="container">
  <div class="row">
    <div class="create-community-container">
      <form class="post-form" [formGroup]="createCommunityForm" (ngSubmit)="createCommunity()">
        <div class="form-group">
          <div class="create-community-heading">{{'create.community' | translate}}</div>
          <hr />
          <input type="text" [formControlName]="'title'" class="form-control" style="margin-top: 5px"
                 placeholder="{{'title' | translate}}">
          <textarea type="text" [formControlName]="'description'" style="width: 100%; margin-top: 5px"
                    placeholder="{{'community.description' | translate}}"></textarea>
          <div>
            <div style="margin-top: 5px" class="float-right">
              <button (click)="discard()" class="btnDiscard">{{'discard' | translate}}</button>
              <button class="btnCreateCommunity">{{'create' | translate}}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-3">
      <div class="sidebar">
        <h5 class="guidelines">{{'posting.to' | translate}}</h5>
        <hr />
        <ul>
          <li>{{'remember.the.human' | translate}}</li>
          <hr />
          <li>{{'behave.like.you' | translate}}</li>
          <hr />
          <li>{{'dont.spam' | translate}}</li>
          <hr />
        </ul>
      </div>
    </div>
  </div>
</div>
