<div class="sidebar">
  <img style="position: relative" src="https://gl-social-network-aws-bucket.s3.us-east-2.amazonaws.com/banner-background2.png">
  <br>
  <div style="text-align: center; color: black; font-weight: bold; font-size: 1em">Welcome to GL Social Network home page.</div>
  <div style="text-align: center">
    <br>
    <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
  </div>
  <div style="text-align: center">
    <button class="btnCreateCommunity" (click)="goToCreateCommunity()">Create Community</button>
  </div>
</div>
