<div class="sidebar">
  <img style="position: relative" src="https://gl-social-network-aws-bucket.s3.us-east-2.amazonaws.com/banner-background2.png">
  <br>
  <div style="text-align: center; color: black; font-weight: bold; font-size: 1em">{{'welcome.to.gl' | translate}}</div>
  <div style="text-align: center">
    <br>
    <button class="btnCreatePost" (click)="goToCreatePost()">{{'create.post' | translate}}</button>
  </div>
  <div style="text-align: center">
    <button class="btnCreateCommunity" (click)="goToCreateCommunity()">{{'create.community' | translate}}</button>
  </div>
</div>
