<div class="container">
  <div>{{'welcome' | translate}}<b>{{name}}</b>.<br />{{'you.have.posted' | translate}}<b>{{postLength}}</b>
    {{'times.and.comments' | translate}}<b>{{commentLength}}</b>{{'times' | translate}} {{'check.your.post' | translate}}
  </div>
  <hr />
  <div>
    {{'your.posts' | translate}}
  </div>
  <app-post-tile [posts]="posts"></app-post-tile>
  <hr />
  <div>
    {{'your.comments' | translate}}
  </div>
  <div *ngFor="let comment of comments">
    <div class="comment">
      <div class="username">
        <a routerLink="/user/comment.username">{{comment.username}}</a>
      </div>
      <div>
        <p>{{comment.duration}}</p>
      </div>
      <b>{{comment.text}}</b>
    </div>
    <hr />
  </div>
</div>
